
body {
    background-color: black;
    color: white;
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;

}

.wrapper {
    align-items: flex-start;
    border: 3px solid black;

    display: flex;
    justify-content: center;
    max-height: 600px;
    max-width: 1600px;
    min-height: 570px;
    min-width: 980px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: 570px;
    max-height: 100%;
    min-height: 400px;
}

.col-1,
.col-3 {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.image {
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: top center;

    border: 3px solid black;
    display: flex;
    flex-grow: 1;
}

.col-1__image:nth-child(1) {
    background-image: url('images/tiger.jpg');
    background-position: 15%;
}

.col-1__image:nth-child(2) {
    background: url('images/soldiers.jpg') top center / cover;
}

.col-1__image:nth-child(3) {
    background: url('images/oldman.jpg') top center / cover;
}

.col-2__image:first-child {
    background: url('images/voodoo.png') top center / cover;
    padding-bottom: 6px;
    flex-grow: 2;
}

.col-2__bottom-image {
    border: none;
}

.col-2__bottom-image:first-child {
    background: url('images/ww1.jpg') top center / cover;
    border-right: 6px solid black;
}

.col-2__bottom-image:last-child {
    background: url('images/dirt.png') top center / cover;
}

.col-3__image:nth-child(1) {
    background: url('images/dig.jpg') top center / cover;
}

.col-3__image:nth-child(2) {
    background: url('images/phantomas.jpg') top center / cover;
}

.col-3__image:nth-child(3) {
    background: url('images/ambulance.jpg') top center / cover;
}

